# dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# environment
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
dist/
build/
.out/
.tmp/

# cache
.cache/
.nyc_output/
coverage/
.eslintcache

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# temp
tmp/
temp/