@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    height: 100dvh;
    background: linear-gradient(to bottom, #0768a0, #ffffff);
    overflow-x: hidden;
    position: relative;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    background-color: rgb(255, 0, 0);
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    font-weight: 600;
}

nav .logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Menu section */
nav .menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav .menu li {
    cursor: pointer;
    position: relative;
    transition: color 0.3s;
}

nav .menu li:hover {
    color: #122f4f;
}

/* Profile section */
nav .profile {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-glass {
    font-family: "Outfit", "sans-serif";
    padding: 10px 5px;
    width: 80px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    /* Latar belakang yang lebih transparan */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    transition: all 0.3s ease;

    /* Menggunakan backdrop-filter juga pada tombol */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-glass:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.btn-glass:active {
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}